<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error!</title>
</head>
<style>
.not{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.home{
    font-size: 30px;
    cursor: pointer;
    color: brown;
}
</style>
<body>
    <div class="not">
        <div>
            <h1  >404 NOT FOUND!!</h1>
        </div>
    </div>
    <div class="not">
        <h3 >Trở lại trang home -></h3>
    </div>
    <div class="not">
        <a class="home" href="/">->Home<-</a>
    </div>
</body>
</html>